<form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
  <div class="d-flex align-items-center">
    <input
      [(ngModel)]="todo.title"
      name="title"
      autofocus
      autocomplete="off"
      class="form-control mr-3"
      type="text"
      style="flex: 1"
    />
    <button
      [ngClass]="formMode === 'create' ? 'btn-primary' : 'btn-success'"
      class="btn mr-1"
      type="submit"
    >
      {{ formMode === 'create' ? 'Add New Item' : 'Update Item' }}
    </button>
    <button class="btn btn-secondary" type="button" (click)="createLorem()">
      Lorem
    </button>
  </div>
</form>
