<form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
  <div class="d-flex align-items-center">
    <input
      [(ngModel)]="title"
      name="title"
      autofocus
      autocomplete="off"
      class="form-control mr-3"
      type="text"
      style="flex: 1"
      required
    />
    <button
      *ngIf="formMode === 'create'"
      [disabled]="todoForm.invalid"
      class="btn btn-primary mr-1"
      type="submit"
    >
      Add New Item
    </button>
    <button
      *ngIf="formMode === 'update'"
      [disabled]="todoForm.invalid"
      class="btn btn-success mr-1"
      type="submit"
    >
      Update
    </button>
    <button
      *ngIf="formMode === 'update'"
      class="btn btn-light mr-1"
      type="button"
      (click)="onCancel()"
    >
      Cancel
    </button>
  </div>
</form>
